body { font: 12px Arial;}
path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}
.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.vb-chart {
    background: white;
}

.vb-time-slider {
    margin: 0 auto;
    width: 20em;
}

.vb-select-wrapper {
    text-align: center;
}
    .vb-dataset-select {
        width: 20em;
    }

.vb-chart {
    width: 600px;
    height: 270px;
    margin: 0 auto;
}

.tab-content {
    padding: 0 5em;
}