/*body { font: 12px Arial;}*/

div.vb-chart {
    height: 300px;
    width: 100%;
}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}
.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}



.svg-chart {
    pointer-events: all;
    fill: #aaa;
}
.hoverline {
    stroke: red;
    stroke-width: 1;
    shape-rendering: optimizeSpeed;
}
.hidden {
    opacity: 1;
}

/* Admin things. */
.vb-chart-wrapper {
    background: white;
}
.vb-time-slider-range {
    margin: 0 5rem;
}