/* linechart */
path
    stroke: steelblue;
    stroke-width: 2;
    fill: none;

.axis path,
.axis line
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;

.svg-chart
    pointer-events: all;

.hoverline
    stroke: red;
    stroke-width: 1;
    shape-rendering: optimizeSpeed;

.hidden
    opacity: 0;




/* Admin things. */

div.vb-chart
    height: 350px;
    width: 100%;

.vb-chart-metric
    width: 50px;
    margin: 1em auto;
    font-size: 2em;



.vb-shortcode-wrapper
    margin: 1em 0;

    .vb-shortcode
        margin: .5em 0;
    

.vb-chart-wrapper
    background: white;
    margin: 1em auto;

.vb-chart
    background: white;


.vb-time-slider
    margin: 0 auto;
    width: 20em;


.vb-dataset-select-wrapper
    text-align: center;
    margin: 1em 0;

    .vb-dataset-select
        width: 20em;
    

.vb-chart
    width: 600px;
    height: 270px;
    margin: 0 auto;


.tab-content
    padding: 0 5em;













/* line 8, ../../scss/partials/_treemap.scss */
.vb-treemap
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: relative;
    height: 88%;
    width: 100%;
    /*font: 10px sans-serif;*/

/* line 14, ../../scss/partials/_treemap.scss */
.vb-treemap svg
    position: relative;
    overflow: hidden;

/* line 22, ../../scss/partials/_treemap.scss */
.vb-treemap rect
    fill: none;
    stroke: #ddd;

/* line 27, ../../scss/partials/_treemap.scss */
// .vb-treemap text
  // font-size: 1.2em;

/* line 32, ../../scss/partials/_treemap.scss */
.vb-treemap rect.parent,
.vb-treemap .grandparent rect
    stroke-width: 4px;

/* line 36, ../../scss/partials/_treemap.scss */
.vb-treemap rect.parent
    opacity: 0.6;

/* line 41, ../../scss/partials/_treemap.scss */
.vb-treemap .children:hover rect.parent,
.vb-treemap .grandparent:hover rect
    opacity: 0.9;

/* line 45, ../../scss/partials/_treemap.scss */
.vb-treemap .children
    cursor: pointer;
    position: relative;

/* line 49, ../../scss/partials/_treemap.scss */
.vb-treemap .children.no-label .titleLabel
    display: none;

/* line 53, ../../scss/partials/_treemap.scss */
.vb-treemap .children.no-label .valueLabel
    display: none;

/* line 57, ../../scss/partials/_treemap.scss */
.vb-treemap .children.no-label text
    display: none;

/* line 63, ../../scss/partials/_treemap.scss */
.vb-treemap .children.no-value .valueLabel
    display: none;

/* line 72, ../../scss/partials/_treemap.scss */
.vb-treemap .textdiv
    padding: 8px;
    font: 10px sans-serif;
    /*font-family: 'Strait', sans-serif;*/

/* line 77, ../../scss/partials/_treemap.scss */
.vb-treemap .textdiv .titleLabel,
.vb-treemap .textdiv .valueLabel
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;


/* Back button */
/* line 89, ../../scss/partials/_treemap.scss */
#zoombutton
    width: 120px;
    font-family: 'Strait', sans-serif;
    float: right;
    font-size: 18px;

/* line 95, ../../scss/partials/_treemap.scss */
#zoombutton i
    vertical-align: top;
    margin-right: 5px;

#vb-zoom-button
    text-align: center;
    background-color: #def;
    cursor: pointer;
    padding: .2em 0;

    &:hover
        background-color: #cde;


/* line 101, ../../scss/partials/_treemap.scss */
.popover
    z-index: 2030;
    font-size: 18px;


/* IE only */
/* line 110, ../../scss/partials/_treemap.scss */
#ie-popover
    z-index: 2030;
    width: 180px;
    min-width: 150px;
    min-height: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    position: absolute;
    border-radius: 5px;

/* line 120, ../../scss/partials/_treemap.scss */
#ie-popover .arrow
    z-index: 1050;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgba(0, 0, 0, 0.6);

/* line 132, ../../scss/partials/_treemap.scss */
#ie-popover .text
    color: white;
    position: relative;
    display: block;
    padding: 5px;


#ie-popover .popover-title
    background-color: rgba(0, 0, 0, 0);
    color: white;
    position: relative;
    display: block;
    padding: 5px;

