/* All charts
 ------------------------------------------------------- */

.vb-chart
    height: 260px;
    width: 100%;
    background: white;
    margin: 0 auto;



/* Line chart
 ------------------------------------------------------- */

.svg-chart
    pointer-events: all;

.click-capture
    &:hover
        cursor: pointer;

path
    stroke: steelblue;
    stroke-width: 3;
    opactity: 0.7;
    fill: none;

.circles-line
    circle
        fill: darken(steelblue, 10%);

.axis
    path, line
        fill: none;
        stroke: grey;
        stroke-width: 1;
        shape-rendering: crispEdges;

.hoverline
    stroke: #555;
    opacity: 0.4;
    stroke-width: 2;
    shape-rendering: optimizeSpeed;

.hidden
    opacity: 0;



/* Treemap
 ------------------------------------------------------- */

.vb-chart-treemap
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: relative;
    height: 88%;
    width: 100%;
    /*font: 10px sans-serif;*/

    svg
        position: relative;
        overflow: hidden;

    rect
        fill: none;
        stroke: #ddd;

    // text
      // font-size: 1.2em;

    rect.parent,
    .grandparent rect
        stroke-width: 4px;

    rect.parent
        opacity: 0.6;

    .children:hover rect.parent,
    .grandparent:hover rect
        opacity: 0.9;

    .children
        cursor: pointer;
        position: relative;

    .children.no-label
        .titleLabel, .valueLabel,
        text
            display: none;

    .textdiv
        padding: 8px;
        font: 10px sans-serif;
        /*font-family: 'Strait', sans-serif;*/

        .titleLabel,
        .valueLabel
            overflow: hidden;
            position: relative;
            text-overflow: ellipsis;


/* Back button
 ------------------------------------------------------- */

#zoombutton
    width: 120px;
    font-family: 'Strait', sans-serif;
    float: right;
    font-size: 18px;

    i
        vertical-align: top;
        margin-right: 5px;

#vb-zoom-button
    text-align: center;
    background-color: #def;
    cursor: pointer;
    padding: .2em 0;

    &:hover
        background-color: #cde;


.popover
    z-index: 2030;
    font-size: 18px;


/* IE only (from VB1)
 ------------------------------------------------------- */

#ie-popover
    z-index: 2030;
    width: 180px;
    min-width: 150px;
    min-height: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    position: absolute;
    border-radius: 5px;

    .arrow
        z-index: 1050;
        position: absolute;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid rgba(0, 0, 0, 0.6);

    .text
        color: white;
        position: relative;
        display: block;
        padding: 5px;


    .popover-title
        background-color: rgba(0, 0, 0, 0);
        color: white;
        position: relative;
        display: block;
        padding: 5px;

