/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */




/* *****************************************************
                    DATASET TABLES
   ***************************************************** */
/* Dataset listings div */
.dataset-listings a.tablelink {
    color: #6a778d;
}
.dataset-listings a.tablelink,
.dataset-listings a.tablelink:visited,
.dataset-listings a.tablelink:hover,
.dataset-listings a.tablelink:focus,
.dataset-listings a.tablelink:active {
    text-decoration: none;
}

/* The dataset preview/corner table */
.dataset-listings table {
    background-color: #f9f9f9;
}
    .dataset-listings table th,
    .dataset-listings table td {
        text-align: left;
    }
.dataset-listings table:hover {
    background-color: #fdfdfd;
}

/* Glyphicons in the info section */
.dataset-info span.glyphicon {
    margin-right: 5px;
}

/* Dataset actions buttons */
.dataset-info .dataset-actions a,
.dataset-info .dataset-actions a:visited,
.dataset-info .dataset-actions a:hover,
.dataset-info .dataset-actions a:focus,
.dataset-info .dataset-actions a:active {
    text-decoration: none;
}
.dataset-info .dataset-actions a .label-danger:hover {
    background-color: #b52f2b; /* #d9534f */
}

/* The modal table */
.jquerymodal table {
    margin: 0 !important;
}
    .jquerymodal table td,
    .jquerymodal table th {
        text-align: left;
    }
    .jquerymodal table .tablecell {
        max-height: 4em;
        overflow: scroll;
    }


/* *****************************************************
                    TABLE ROW NUMBERS
   ***************************************************** */
.dataset-listings table,
.jquerymodal table {
    counter-reset: rowNumber;
}
.dataset-listings table tr,
.jquerymodal table tr {
    counter-increment: rowNumber;
}
.dataset-listings table tr th:first-child::before,
.dataset-listings table tr td:first-child::before,
.jquerymodal table tr th:first-child::before,
.jquerymodal table tr td:first-child::before {
    content: counter(rowNumber);
    position: absolute;
    min-width: 1em;
    margin-right: 0.5em;
    font-weight: normal;
}

/* Positioning for the preview/corner table */
.dataset-listings table tr td:first-child::before,
.dataset-listings table tr th:first-child::before {
    left: 0px;
}
/* Positioning for the modal table */
.jquerymodal table tr td:first-child::before,
.jquerymodal table tr th:first-child::before {
    position: fixed;
    margin-left: -28px;
    color: white;
}



/* *****************************************************
                    VISUALIZATIONS
   ***************************************************** */

.hidden {
    display: none;
}







/* *****************************************************
                    SIDE TABS from
        http://stackoverflow.com/a/26394641
   ***************************************************** */

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
    border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: none;
}

.tab-content > .active,
.pill-content > .active {
    display: block;
}

.tabs-below > .nav-tabs {
    border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
    margin-top: -1px;
    margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
    border-top-color: #ddd;
    border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
    border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
    float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
    float: right;
    margin-left: 19px;
    border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
    margin-left: -1px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
    border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
    border-color: #ddd #ddd #ddd transparent;
    *border-left-color: #ffffff;
}

.tab-content {
    overflow: hidden;
}